{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'images/icon2.png' %}" type="image/gif" sizes="16x16">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap" rel="stylesheet">
        <title>KDDT BALANCE SHEET</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">   
        <link rel="stylesheet" href="font/font/flaticon.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>
    <body>
        <div id="wrapper">
            <div class="overlay"></div>
            <nav class="fixed-top align-top" id="sidebar-wrapper" role="navigation" style="background-color:#FFFFF0;">
                <div class="simplebar-content" style="padding: 0px;">
                    <a class="sidebar-brand" href="index.html"><span class="align-middle" style="color:black;font-size20px;">KDDT BALANCE SHEET</span></a>
                    <ul class="navbar-nav align-self-stretch">
                        <li class=""><a class="nav-link text-left"  role="button" style="font-size:20px;" href="{% url 'home' %}"><i class="fa fa-home"></i> HOME</a></li>
                        <li class=""><a class="nav-link text-left"  role="button" style="font-size:20px;" href="{% url 'add-income' incomemode='nothing' %}"><i class="fas fa-rupee-sign"></i> INCOME</a></li>
                        <li class=""><a class="nav-link text-left"  role="button" style="font-size:20px;" href="{% url 'add-expense' expensemode='nothing'%}"><i class="fas fa-rupee-sign"></i> EXPENSE</a></li>
                        <li class=""><a class="nav-link text-left"  role="button" style="font-size:20px;" href="{% url 'opening' %}"><i class="fas fa-door-open"></i> Opening</a></li>
                        <li class=""><a class="nav-link text-left"  role="button" style="font-size:20px;" href="{% url 'employee' %}"><i class="fas fa-users"></i> EMPLOYEE</a></li>
                    </ul>
                </div>
            </nav>
            <div id="page-content-wrapper">
                <div id="content">
                    <div class="container-fluid p-0 px-lg-0 px-md-0">
                        <nav class="navbar navbar-expand navbar-light my-navbar" style="height:80px">
                            <div type="button"  id="bar" class="nav-icon1 hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="d-none d-sm-inline-block">
                                <h4>KRISHNAGIRI DISTRICT DEAF TRUST</h4>
                            </div>
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown  d-sm-none">
                                    <div class="dropdown-menu dropdown-menu-right p-3">
                                        <form class="form-inline mr-auto w-100 navbar-search">
                                            <div class="input-group">
                                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." >
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="button">
                                                        <i class="fas fa-search fa-sm"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <a class="nav-link" href="{% url 'logout' %}" style="color:black"><i class="fas fa-sign-out-alt fa-2x"></i></a>
                            </ul>
                        </nav>
                        <div class="topic mt-3">
                            <h1 class="text-center text-muted" style="font-size:30px">Employee Details</h1>
                        </div>
                        <div class="container">
                            <div class="row">
                            <h1 class="text-center text-muted" style="font-size:30px;float:right"><a href="{% url 'add-employee' %}" class="btn btn-success" style="float:right;color:white;background-color:#36bea6;border-color:#36bea6">Add Employee</a></h1>
                                <div class="col-md-12 mt-3">
                                    <div class="card">
                                        <div class="table-responsive">
                                            <table class="table v-middle">
                                                <thead>
                                                    <tr class="bg-light">
                                                        <th class="border-top-0">Employe Id</th>
                                                        <th class="border-top-0">Employe Name </th>
                                                        <th class="border-top-0">Employe Designation</th>
                                                        <th class="border-top-0">Employe Designation In KDDA</th>
                                                        <th class="border-top-0">Employe Phone</th>
                                                        <th class="border-top-0">Employe Address</th>
                                                        <th class="border-top-0">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for employee in employees %}
                                                    <tr>
                                                        <th>{{ employee.empid }}</th>
                                                        <td>{{ employee.empname }}</td>
                                                        <td>{{ employee.desination }}</td>
                                                        <td>{{ employee.desginkdda }}</td>
                                                        <td>{{ employee.phone }}</td>
                                                        <td>{{ employee.address }}</td>
                                                        <td><i class="fa fa-trash"></i></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="footer fixed-bottom">
                        <div class="container-fluid">
                            <div class="row text-muted">
                                <div class="col-6 text-left">
                                    <p class="mb-0">
                                        <a href="https://www.linkedin.com/in/vishnu-priyan-0893a51b3/" class="text-muted"><strong>Vishnu Priyan </strong></a> &copy 2020
                                    </p>
                                </div>
                                <div class="col-6 text-right">
                                    <ul class="list-inline">
                                        <li class="footer-item">
                                            <a class="text-muted" href="#">Support</a>
                                        </li>
                                        <li class="footer-item">
                                            <a class="text-muted" href="#">Help Center</a>
                                        </li>
                                        <li class="footer-item">
                                            <a class="text-muted" href="#">Privacy</a>
                                        </li>
                                        <li class="footer-item">
                                            <a class="text-muted" href="#">Terms</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script>
            $('#bar').click(function(){
                $(this).toggleClass('open');
                $('#page-content-wrapper ,#sidebar-wrapper').toggleClass('toggled' );

            });
        </script>
    </body>
</html>